<table class="admin_panel_links">
	<tr>
		<td>
			<%= link_to admin_subpages_staticpages_home_path do %>
				<div <% if controller?("adminsstaticpages") && action?("home")%> id="active" <% end %>>
					Home
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to admin_subpages_staticpages_about_path do %>
				<div <% if controller?("adminsstaticpages") && action?("about") %> id="active" <% end %>> 
					About
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to admin_subpages_staticpages_datasheets_path do %>
				<div <% if controller?("adminsstaticpages") && action?("datasheets") %> id="active" <% end %>> 
					Data Sheets
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to admin_subpages_staticpages_presentations_papers_path do %>
				<div <% if controller?("adminsstaticpages") && action?("presentations_papers") %> id="active" <% end %>> 
					Presentations & Papers
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to admin_subpages_staticpages_videos_path do %>
				<div <% if controller?("adminsstaticpages") && action?("videos", "createvideo", "editvideo", "createvideosection")%> id="active" <% end %>> 
					Videos
				</div>
			<% end %>
		</td>
	</tr>
</table>

<br/>