<% provide(:title, "Home")%>

<div id="overview_container">
	<h1>Get things done by trusted people in your community</h1>
	<div id="overview_header" class="show_hide2" rel="#slider1">
		<%= image_tag("icon-number-1.png", width: 20) %>Post a Gig<%= image_tag("arrow-down.png", width: 20) %>
	</div>
	<div id="slider1">
		<p><strong>Use a descriptive task title</strong>, tell us the who, what, when and how much you're willing to pay to get your Gig done. Choose to pay by Paypal or Credit card and remember you only pay when the task is completed.</p>
		<p><strong>As our GigRunners interact</strong> with your task, please respond with more information. For your own safety, only exchange your address, email with the runner you assign.</p>
	</div>
	<hr/>
	<div id="overview_header" class="show_hide2" rel="#slider2">
		<%= image_tag("icon-number-2.png", width: 20) %>Review incoming bids<%= image_tag("arrow-down.png", width: 20) %>
	</div>
	<div id="slider2">
		<p>GigRunners who want to complete your task will place bids or offers, you can then accept any bid or offer you think is fair to assign that runner to the Gig. <strong>Browse the GigRunner's profile</strong> and check their ratings, reviews to ensure you choose the most qualified Runner for your Gig.</p>
		<p><strong>You will be notified of new bids</strong> by the means you have specified in your Account Settings</p>
	</div>
	<hr/>
	<div id="overview_header" class="show_hide2" rel="#slider3">
		<%= image_tag("icon-number-3.png", width: 20) %>Get gig done<%= image_tag("arrow-down.png", width: 20) %>
	</div>
	<div id="slider3">
		<p><strong>Once you have assigned a GigRunner</strong>, you will gain access to private messaging for exchanging private information. When your Gig is completed, you mark the Gig complete and the GigRunner gets paid.</p> 
		<p><strong>Review the GigRunner</strong> when the jobs done. That way you get to show your appreciation and other GigPosters can choose to use the same Gigrunner you've used based on your recommendation.</p>
	</div>
	<hr/>
</div>