<table class="admin_panel_links">
	<tr>
		<td>
			<%= link_to "settings" do %>
				<div <% if (@page != nil && @page=='settings') %> id="active" <% end %>>
					Settings
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to "news" do %>
				<div <% if (@page != nil && @page=='news') %> id="active" <% end %>> 
					News
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to "videos" do %>
				<div <% if (@page != nil && @page=='videos') %> id="active" <% end %>> 
					Videos
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to "results" do %>
				<div <% if (@page != nil && @page=='results') %> id="active" <% end %>> 
					Results
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to "presentations" do %>
				<div <% if (@page != nil && @page=='presentations') %> id="active" <% end %>> 
					Presentations
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to "help" do %>
				<div <% if (@page != nil && @page=='help') %> id="help" <% end %>> 
					Help
				</div>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to "about" do %>
				<div <% if (@page != nil && @page=='about') %> id="about" <% end %>> 
					About
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to "users" do %>
				<div <% if (@page != nil && @page=='users') %> id="active" <% end %>> 
					Users
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to "placeholder" do %>
				<div <% if (@page != nil && @page=='placeholder') %> id="active" <% end %>> 
					placeholder
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to "placeholder" do %>
				<div <% if (@page != nil && @page=='placeholder') %> id="active" <% end %>> 
					placeholder
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to "placeholder" do %>
				<div <% if (@page != nil && @page=='placeholder') %> id="active" <% end %>>
					placeholder
				</div>
			<% end %>
		</td>

		<td>
			<%= link_to "placeholder" do %>
				<div <% if (@page != nil && @page=='placeholder') %> id="active" <% end %>> 
					placeholder
				</div>
			<% end %>
		</td>
	</tr>
</table>