<%= render 'admins/admin_subpages/tophalf' %>
	<%
		provide(:title,  " - edit news")
	%>

	<%= render 'admins/admin_subpages/news_headers' %>

	<script type="text/javascript">
		$('.ckeditor').ckeditor({
		  // optional config
		});
	</script>

<div class="edit_form">
	<table class="information_edit_form">
		<%= form_for @news, url: edit_news_path(id: @news.id) do |f|%>
			<tr>
				<th colspan='2'><h3>Edit News</h3></th>
			</tr>
			<tr>
				<td class="label">Title:</td>
				<td class="textfield"><%= f.text_field :title, :placeholder => "Title", :class => 'register_user_input'  %></td>
			</tr>
			<tr>
				<td colspan='2'><%= f.text_area :content, :class => 'ckeditor' %></td>
			</tr>
			<tr>
				<td colspan='2' class="button"><%= f.submit "Edit", class: "btn btn-default btn-lg btn-block"  %> </td>
			</tr>
			<%= f.hidden_field :author, :value => current_user.name %>
		<% end %>
	</table>
</div>

<%= render 'admins/admin_subpages/bottomhalf' %>