<table class="admin_panel_news_table">
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Author</th>
		<th>Section</th>
		<th>Created At</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>

	<% videos = yield_all_videos
		counter = 0
		videos.each do |v|
			counter+=1
	%>
			<tr>
				<td><%= counter %></td>
				<td><%= v.title %></td>
				<td><%= v.author %></td>
				<td><%= v.video_section.title %></td>
				<td><%= v.created_at %></td>
				<td><%= link_to "edit", admin_subpages_editvideo_path(id: v.id)%></td>

				<td><%= link_to "delete", admin_subpages_deletevideo_path(id: v.id), method: :delete,
                                  data: { confirm: "You sure?" }%></td>
			</tr>
	<% end %>
</table>
<br/>