<%= provide(:title, "Register") %>

<p>As a member of the MCCM community you will benefit from:</p>

<ul>
	<li>Receive updates on upcoming projects.</li>
	<li>Communicate with MCCM staff directly for inqueries.</li>
	<li>etc, etc.</li>
</ul>

<%= form_for(@user) do |f| %>
	<table class="information_edit_form">
		<tr>
			<th colspan='2'><h3>Register</h3></th>
		</tr>
		<tr>
			<td class="label">First Name:</td>
			<td class="textfield"><%= f.text_field(:first_name, :placeholder => "First Name", :class => 'register_user_input') %></td>
		</tr>
		<tr>
			<td class="label">Last Name:</td>
			<td class="textfield"><%= f.text_field(:last_name, :placeholder => "Last Name", :class => 'register_user_input') %></td>
		</tr>
		<tr>
			<td class="label">Email:</td>
			<td class="textfield"><%= f.text_field :email, :placeholder => "Last Name", :class => 'register_user_input' %></td>
		</tr>
		<tr>
			<td class="label">Password:</td>
			<td class="textfield"><%= f.password_field :password, :placeholder => "Password", :class => 'register_user_input' %></td>
		</tr>
		<tr>
			<td class="label">Confirm:</td>
			<td class="textfield"><%= f.password_field :password_confirmation, :placeholder => "Confirmation", :class => 'register_user_input' %></td>
		</tr>
		<tr>
			<td colspan='2' class="button"> <%= f.submit "Create my account", class: "btn btn-default btn-lg btn-block" %> </td>
		</tr>
	</table>
<% end %>
