<%
title = yield(:title)
%>
<table id="menu">
	<tr>
		<th class="picture"><%= image_tag current_user.avatar.url(:small) %></th>
		<th class="username"><%= current_user.first_name %></th>
	</tr>
		<tr><td colspan="100%">
			<%= link_to "/users/" + current_user.id.to_s, :class => 'inner_link' do %>
				<div class="link" <% if controller?("users") && action?("show") %> id="active_link" <% end %> > 
					> My Profile 
				</div>
			<% end %>
		</td></tr>

		<tr><td colspan="100%">
			<%= link_to edit_user_path(current_user), :class => 'inner_link' do %>
				<div class="link" <% if controller?("users") && action?("edit") %> id="active_link" <% end %> > 
					> Update Profile 
				</div>
			<% end %>
		</td></tr>

		<tr><td colspan="100%">
			<%= link_to "/users/" + current_user.id.to_s + "/email", :class => 'inner_link' do %>
				<div class="link" <% if controller?("users") && action?("email") %> id="active_link" <% end %>> 
					> E-Mail 
				</div>
			<% end %>
		</td></tr>

		<tr><td colspan="100%">
			<%= link_to "/users/" + current_user.id.to_s + "/files", :class => 'inner_link' do %>
				<div class="link" <% if controller?("users") && action?("files") %> id="active_link" <% end %>> 
					> Files
				</div>
			<% end %>
		</td></tr>

		<% if current_user.admin_level == 1 %>
			<tr><td colspan="100%">
				<%= link_to "/admin_subpages/index", :class => 'inner_link' do %>
					<div class="link" <% if controller?("admins")  || controller?("adminsstaticpages")%> id="active_link" <% end %>> 
						> Admin Panel 
					</div>
				<% end %>
			</td></tr>
		<% end %>

		<tr><td colspan="100%">
			<a data-method="delete" href="/signout" rel="nofollow"><div class="link"> > Log out </div></a>
		</td></tr>
</table>