<%
if current_user != nil
	name = kircapitalize(current_user.first_name) + " " + kircapitalize(current_user.last_name) 
	email  = current_user.email
else
	name = ""
	email = ""
end
%>

<script type="text/javascript">
	$('.ckeditor').ckeditor({
	  // optional config
	});
</script>

<%= form_for sendfeedback_path do |f| %>
	<table class="information_edit_form">
		<tr>
			<th colspan='2'><h3>Contact Us</h3></th>
		</tr>
		<tr>
			<td class="label">Your name:</td>
			<td class="textfield"><%= f.text_field(:name, value: name, placeholder: 'Your Name', :class => 'register_user_input') %></td>
		</tr>
		<tr>
			<td class="label">E-Mail:</td>
			<td class="textfield"><%= f.text_field :email, value: email, placeholder: "Your E-Mail", :class => 'register_user_input' %></td>
		</tr>
		<tr>
		<td class="label">Project Name:</td>
			<td class="textfield"><%= f.text_field :proj_name, placeholder: "Project Name", :class => 'register_user_input' %></td>
		</tr>
		<tr>
			<td class="label">Message:</td>
			<td class="textfield"><%= f.text_area :content, :class => 'ckeditor' %></td></td>
		</tr>
		<tr>
			<td colspan='2' class="button"> <%= f.submit "Send", class: "btn btn-default btn-lg btn-block" %> </td>
		</tr>
	</table>
<% end %>