<script>
	function render_partial() {
	  $('#myeditform').html('<%=j render :partial => "users/admin_subpages/news_edit" %>');
	  $('#create_news_button').hide();
	}
</script>


<table class="admin_panel_news_table">
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Author</th>
		<th>Created At</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>

	<% news = yield_all_news
		counter = 0
		news.each do |n|
			counter+=1
	%>
			<tr>
				<td><%= counter %></td>
				<td><%= n.title %></td>
				<td><%= n.author %></td>
				<td><%= n.created_at %></td>
				<td><%= link_to "edit", "edit" %></td>
				<td><%= link_to "delete", "delete" %></td>
			</tr>
	<% end %>
</table>
<br/>

<%= button_tag "Create News", :onclick => "render_partial();", class: "btn btn-default btn-lg btn-block", id: "create_news_button" %>

<div id="myeditform"></div>