<%
title = yield(:title)
%>

<header class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      	<table id="KA_header_container">
      		<tr>
      			<td>
      				<table id="KA_header_inner_container">
      					<tr>
      						<td id="header_logo_container"><%= link_to image_tag("logo.png",width: '250'), '/', id: "logo" %></td>
      						<td id="header_content"><%= yield_website_settings_moto.to_s.html_safe %></span></td>
      					</tr>
      				</table>
      			</td>
      		</tr>
      		<tr>
	      		<td id="header_container_menu_links">
	        		<ul class="nav nav-tabs">
			          	<li <%= "class=active" if controller?("static_pages") && action?("home") %>><%= link_to "Home", home_path %></li>
			          	<li <%= "class=active" if controller?("static_pages") && action?("about") %>><%= link_to "About", about_path %></li>
			          	<li <%= "class=active" if controller?("static_pages") && action?("datasheets") %>><%= link_to "Data Sheets", datasheets_path %></li>
			          	<li <%= "class=active" if controller?("static_pages") && action?("presentations") %>><%= link_to "Presentations & Papers", presentations_path %></li>
			          	<li <%= "class=active" if controller?("videos") && action?("show", "index") %>><%= link_to "Videos", videos_path %></li>
			          	<li <%= "class=active" if controller?("users") && action?("new") %>><%= link_to "Register", register_path %></li>
			          	<li <%= "class=active" if controller?("static_pages") && action?("help") %>><%= link_to "Contact Us", help_path %></li>
                  <% if signed_in? %>
			          	  <li <%= "class=active" if (controller?("users")&& action?("show", "edit", "email", "files") || controller?("admins"))  %> style="float: right;"><%= link_to "Control Panel", current_user %></li>
                  <% else %>
                    <li <%= "class=active" if title=="Login" %> style="float: right;"><%= link_to "Login", signin_path %></li>
                  <% end %>
	        		</ul>
	        	</td>
	      	</tr>
      	</table>
    </div>
  </div>
</header>